$white: whitesmoke;

$background-color: linear-gradient(to right, #3a6186, #89253e);
$bg-color: #fac826;

$text-color: $white;
$text--hilite: #fac826;

$input-color: palegoldenrod;
$link-color: palegoldenrod;
$link-hover: $white;
$text-color: $white;
