$white: whitesmoke;

$background-color: darkslateblue;
$bg-color: $background-color;

$text-color: $white;
$text--hilite: greenyellow;

$input-color: palegoldenrod;
$link-color: palegoldenrod;
$link-hover: $white;
$text-color: $white;
